<page>
    <page-header>
        <h2>Categories</h2>
    </page-header>
    <page-content>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Photo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td>{{category.id}}</td>
                    <td BackgroundColor [defaultColor]="'#eee'">{{category.name}}</td>
                    <td BackgroundColor [BackgroundColor]="'brown'">{{category.description}}</td>
                    <td BackgroundColor [blueColor]="'blue'">{{category.type}}</td>
                    <td><img style="max-width:50px;" src="/src/resources/images/{{category.photo}}" /></td>
                    <td><a (click)="onEditClicked(category.id)">Edit</a><a (click)="onSummaryClicked(category)">Summary</a></td>
                </tr>
            </tbody>
        </table>
        <category-summary *ngIf="selectedCategory" [(name)]="selectedCategory.name"></category-summary>
        <div class="x_panel" *ngIf="selectedCategory">
            <p>this is name value changed: {{selectedCategory.name}}</p>
        </div>
    </page-content>
</page>