<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                <ng-content select="page-title"></ng-content>
            </h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br>
                    <ng-content select="page-content"></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>